html, body {
margin: 0;
padding: 0;
background: #faf8ef;
color: #776e65;
font-family: Arial, sans-serif;
font-size: 18px; }
body > canvas {
margin: 0 auto; 
border:10px solid #BBADA0;
}
.container {
width: 470px;
margin: 0 auto;
}
h1.title {
font-size: 60px;
font-weight: bold;
margin: 0;
display: block;
text-align: center;
}
.scores-container {
float: right;
text-align: right; }
.score-container, .newgame {
position: relative;
display: inline-block;
background: #bbada0;
padding: 15px 25px;
font-size: 25px;
height: 25px;
line-height: 47px;
font-weight: bold;
border-radius: 3px;
color: white;
margin-top: 8px;
text-align: center; }
.score-container:after {
position: absolute;
width: 100%;
top: 10px;
left: 0;
text-transform: uppercase;
font-size: 13px;
line-height: 13px;
text-align: center;
color: #eee4da; }
.score-container:after {
content: "Score"; }
.best-container:after {
content: "Best"; }
#boardcontainer{
border:8px solid #BBADA0;
width:464px;
margin:0px auto;
position:relative;
border-radius: 8px;
}
.boardtile{
width:100px;
height:100px;
border:8px solid #BBADA0; 
float:left;
background: #CCC0B3;
}
.tile{
width:100px;
height:65px;
background-color:#CFC8B5;
z-index:50;
position:absolute;
top:0px;
left:0px;
text-align:center;                                   
display:none;
font:bold 55px arial;
color:#5C5B57;
padding-top:15px;
padding-bottom: 20px;

}
#scorediv{
margin:5px;
text-align:center;
font:bold 48px arial;
color:#CFC8B5;
}

.tile-2  {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile-4  {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile-8  {
    color: #f9f6f2;
    background: #f2b179; }
  .tile-16  {
    color: #f9f6f2;
    background: #f59563; }
  .tile-32  {
    color: #f9f6f2;
    background: #f67c5f; }
  .tile-64  {
    color: #f9f6f2;
    background: #f65e3b; }
  .tile-128  {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
  .tile-256  {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
  .tile-512  {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512  {
        font-size: 25px; } }
  .tile-1024  {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
  .tile-2048  {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }

.newgame
{
  float: left;
  text-align: right;
  background: #D57A27;
  margin-right: 5px;
}
.newgame a{
  text-decoration: none;
  color:#fff;
  display: block;
  margin-top:-10px;
  cursor: pointer;
}